body{
  margin: 0;
  background: #222;
  color: #fff;
  font-family: "Open Sans Light", Arial;
}

a {
  color: #63c6f4;
  text-decoration: none;
}

.left{
  float: left;
}

.right{
  float: right;
}

.hidden {
  display: none;
}

.center{
  text-align: center;
}

h1{
  text-transform: uppercase;
  font-family: "Open Sans ExtraBold", Arial;
  font-size: 40px;
  margin-bottom: 10px;
}

.wrapper{
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

#header{
  background: #E6E6E6;
}

#header img{
  margin: 25px 0;
  width: 200px;
}

.container{
  margin: 0 auto;
  width: 960px;
  overflow: hidden;
}

.container article{
  width: 100%;
  overflow: hidden;
}

article p{
  line-height: 170%;
}

.scroll-toggle {
  position: absolute;
  bottom: -25px;
  right: calc( 50% - 27.5px );
  z-index: 100;
  width: 55px;
  height: 27px;
  cursor: pointer;
}

#first {
  background: #F26964;
  position: relative;
}

#first .container {
  background: url(../images/discovery_splash_page_handimage@2x.png) #F26964 0 50px no-repeat;
  background-size: 520px;
}

#first .text{
  width: 40%;
  margin-top: 50px;
  margin-bottom: 100px;
}

#second {
  padding: 50px 0;
  background: url(../images/pathway-illustration-01.png) #FFD464 center center no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  position: relative;
}

#second .text{
  width: 37%;
  margin-top: 25px;
  margin-bottom: 120px;
}

#third{
  background: #1352A2;
}

#third .text{
  width: 30%;
  margin-top: 60px;
  margin-bottom: 100px;
  float: right;
}

#advisory-group{
  margin-top: 100px;
  margin-bottom: 60px;
  width: 70%;
  overflow: hidden;
  float: right;
}

.row{
  overflow: hidden;
}

.advisor{
  text-align: center;
  margin: 5px;
  width: 30%;
  font-size: 12px;
  float: left;
}

.name {
  font-family: "Open Sans", Arial;
  font-weight: bold;
}

.thumbnail img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 5px;
}

#sign-up-form input[type="email"]{
  width: 65%;
  margin-right: 5%;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 5px;
  border: none;
  border-radius: 5px;
}

#sign-up-form button{
  background: #1352A2;
  border: none;
  color: #fff;
  font-size: 12px;
  width: 25%;
  padding: 10px 0;
  border-radius: 5px;
  cursor: pointer;
}

#sign-up-form button:disabled {
  opacity: 0.4;
  cursor: default;
}

#sign-up-form input:not(button).invalid-field {
  border: 2px solid #ff0000;
}

#thanks-for-signup {
  background: #fff;
  text-align: center;
  font-size: 14px;
  color: #555;
}


/* === Footer ======= */

footer {
  background: #E6E6E6;
  color: #4E4F53;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer a {
  color: #4E4F53;
}

footer a:hover {
  color: #63c6f4;
}

#footer-logo-container {
  width: 35%;
  float: left;
}

#footer-links {
  width: 65%;
  float: right;
}

#footer-links h5 {
  font-family: "Open Sans", Arial;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 15px;
}

#footer-links section {
  float: left;
  margin-right: 10%;
}

#footer-links ul {
  list-style-type: none;
  font-family: "Open Sans", Arial;
  font-size: 12px;
  padding-left: 0;
}

.openbadges-logo {
  width: 100%;
  height: auto;
  margin-left: -20px;
}

#open-badges-logo img{
  width: 200px;
}


/* === Responsive ======= */

@media only screen and (max-width: 960px) {
  .container{
    width: 94%;
    padding-left: 3%;
    padding-right: 3%;
  }
}

@media only screen and (max-width: 910px) {
  #first .container {
    background: url(../images/discovery_splash_page_handimage@2x.png) #F26964 0 100px no-repeat;
    background-size: 380px;
  }

  #first .text {
    width: 50%;
  }

  #second {
    background: url(../images/New_Pathway_Illustration.png) #FFD464 center 90% no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }

  #second .text {
    width: 40%;
  }
}

@media only screen and (max-width: 760px) {
  #first .container {
    background: url(../images/discovery_splash_page_handimage@2x.png) #F26964 0 300px no-repeat;
    background-size: 250px;
  }

  #first .text {
    width: 60%;
  }

  #footer-logo-container,
  #footer-links {
    width: 100%;
  }

  #advisory-group {
    width: 100%;
    float: right;
  }

  #third .text {
    width: 100%;
    float: right;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 640px) {
  h1 {
    font-size: 25px;
  }

  #first .container {
    background: url(../images/discovery_splash_page_handimage@2x.png) #F26964 0 100% no-repeat;
    background-size: 250px;
  }

  #first .text {
    width: 100%;
    padding-bottom: 200px;
  }

  #second .text {
    width: 100%;
    margin-bottom: 220px;
  }

  #sign-up-form input[type='email'],
  #sign-up-form button {
    box-sizing: padding-box;
    -moz-box-sizing: padding-box;
    width: 100%;
    margin-bottom: 10px;
  }

  #advisory-group {
    margin-top: 30px;
  }

  .advisor {
    width: 100%;
  }

  #footer-links section {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  #second .text {
    width: 100%;
    margin-bottom: 160px;
  }
}
